@font-face {
    font-family: 'Mina';
    src: url('./font/Mina-Regular.ttf');
    font-weight: 400;
}

@font-face {
    font-family: 'Mina';
    font-weight: 700;
    src: url('./font/Mina-Bold.ttf');
}


*{
    font-family: 'Mina';
    font-weight: 400;
    margin: 0;
}
h1, h2, h3{
    font-family: 'Mina';
    font-weight: 700;
}
:root {
    --bg: white;
    --texte: black;
    /* ajoute les couleurs dont tu as besoin */
}

.dark {
    --bg: #0d0d0d;
    --texte: #f0f0f0;
    /* les mêmes variables mais en sombre */
}
body {
    background-color: var(--bg);
    color: var(--texte);
}
