@font-face {
    font-family: 'Mina';
    src: url('./font/Mina-Regular.ttf');
    font-weight: 400;
}

@font-face {
    font-family: 'Mina';
    font-weight: 700;
    src: url('./font/Mina-Bold.ttf');
}


*{
    font-family: 'Mina';
    font-weight: 400;
    margin: 0;
}
h1, h2, h3{
    font-family: 'Mina';
    font-weight: 700;
}
:root {
    --bg: white;
    --texte: black;
    --border: rgb(209, 208, 208);
    --shadow: 0px 4px 15px rgba(209, 208, 208);
    --color: black;
}

.dark {
    --bg: #0d0d0d;
    --texte: #f0f0f0;
    --border: #444;
    --shadow: 0px 4px 15px rgba(0, 0, 0, 0.5);
    --color: white;
}
body {
    background-color: var(--bg);
    color: var(--texte);
    text-decoration: none;
}
button{
    color: var(--color);
}
i{
    color: var(--color);
}
